@font-face {
    font-family: 'GrowlyGrin';
    src: url('fonts/GrowlyGrin.ttf.woff') format('woff'),
    url('fonts/GrowlyGrin.ttf.svg#GrowlyGrin') format('svg'),
    url('fonts/GrowlyGrin.ttf.eot'),
    url('fonts/GrowlyGrin.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --main-bg-color: rgb(11 23 42);
    --dark-bg-color: rgb(10 20 35);
    --light-bg-color: rgb(37 59 80);
    --main-font-color: lightgray;
    --faint-font-color: rgb(127 134 148);
    --highlight-color: rgb(14 164 150);
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: scale(1.1); /* hide blurred edged */
    z-index: -10;
    object-fit: cover;
    -webkit-filter: blur(14px) brightness(90%);
    filter: blur(14px) brightness(90%);
}
#center-box {
    height: 280px;
    filter: opacity(95%);
}
#scoreboard {
    height: 100%;
    background-color: var(--main-bg-color);
    border-collapse: collapse;
    color: var(--main-font-color);
    text-transform: uppercase;
    font-family: 'GrowlyGrin';
    font-size: 5.5rem;
    letter-spacing: 6px;
    user-select: none;
}
#scoreboard td {
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}
#scoreboard td.ball-hitter {
    width: 90px;
    letter-spacing: normal;
    font-size: 12rem;
    line-height: 0;
    color: var(--highlight-color);
    font-family: system-ui;
}
#scoreboard td.player-name {
    max-width: 470px;
    text-align: left;
    padding: 0 50px 0 10px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#scoreboard td.finished-set {
    width: 140px;
    &.won {
        color: var(--highlight-color);
        background-color: var(--light-bg-color);
    }
    &.lost {
        color: var(--faint-font-color);
        background-color: var(--dark-bg-color);
    }
}
#scoreboard td.current-set {
    width: 120px;
    background-color: var(--highlight-color);
    color: var(--main-bg-color);
    border: 6px solid var(--main-bg-color);
}
#scoreboard td.current-game {
    width: 120px;
    background-color: var(--light-bg-color);
}
